extends layout

block content
  .login-panel(style="float:none; padding-left:310px")
    h3 Admin Login
    br
    form(method="post" action="/admin/login")
        table 
            tr
                td Email 
                td 
                    input(type="text" name="email")
            tr 
                td Password 
                td 
                    input(type="password" name="password")
            tr 
                td
                td
                    input(type="submit" value="Login")