* {padding: 0; margin: 0;}

body 
{
    background-color: #F0F0F0;
}
.table, .table td, .table tr, .table select
{
    border-collapse: collapse;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top:10px;
}
.table
{
    background-color: #fff;
}
.table2 td{
    text-align:center;
}
nav
{
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
nav ul
{
    list-style: none;
}

nav ul li 
{
    display: inline;
}
nav ul li a 
{
    display: inline-block;
    text-decoration: none;
    color: #444;
    padding: 8px 20px;
    text-decoration: none;
}
nav ul li a:hover
{
    text-decoration: none;
}
.page-wrapper
{
    width: 1100px;
    margin: 0 auto;
    overflow: auto;
}

.login-panel, .register-panel, .registerguest
{
    padding: 20px 20px 50px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: auto;
}
.login-panel
{
    float: right;
}
.registerguest{
    width: 64.5%;
    font-size:20px;
}
.image, .join-us-img
{
    display: block;
    margin: 0 auto;
}
.image
{
    margin-bottom: 20px;
}
.join-us-img
{    
    width: 90%;   
}
input[type="text"], input[type="password"], input[type="date"], select, input[type="time"]
{
    padding: 8px 5px;
    margin: 0 0 5px 5px;
    min-width: 270px;
    font-size: 1.05em;
    background-color: #F5F5F5;
    border: 1px solid #ccc;
}
input[type="submit"]
{
    float: right;
    padding: 7px 20px;
    font-size: 1.06em;
    background-color: #0796cf;
    color: #fff;
    border: 1px solid #0285b9;
    cursor: pointer;
    margin-top: 4px;
}
input[type="text"]:focus , input[type="password"]:focus ,input[type="date"]:focus, select:focus, input[type="time"]:focus{
    background-color:#fff;
}
input[type="submit"]:hover
{
    background-color: #0fa3dd;
    border-color: 1px solid #098ec2;
}
.error
{
    background-color: rgb(248, 203, 203);
    border: 1px solid rgb(245, 87, 87);
    color: rgb(245, 49, 49);
    height: 50px;
    width:50%;
}

.error_2
{
    color: rgb(245, 49, 49);
    height: 10px;
}

.success
{
    background-color: rgb(153, 214, 161);
    border: 1px solid rgb(19, 121, 44);
    color: rgb(19, 121, 44);
    height: 50px;
    width:50%;
}

.dashboard
{
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.user-post-area
{
    padding: 20px 0;
}
form
{
    overflow: hidden;
    margin-bottom: 10px;
}
textarea
{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 18px;
    padding: 10px;
    resize: vertical;   
}

.post 
{
    padding: 20px;
    border: 1px solid #bbb;
    color: #888;
    margin-bottom: 5px;
}
p 
{
    padding: 10px;
}
.greeting
{
    color: #222;
    background-color: rgb(245, 255, 245);
    border: 1px solid rgb(210, 231, 210);
    padding: 1em;
}
.greeting span
{
    color: rgb(112, 172, 16);
}

.dashboard_user
{
    float:left;
    width: 25%;
    border-radius: 10px;
}

.greeting p{
    margin-bottom: 0px;
}

.input-number-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; */
  }
  
  .input-number-group input[type=number]::-webkit-inner-spin-button,
  .input-number-group input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .input-number-group .input-group-button {
    line-height: calc(80px/2 - 5px);
  }
  
  .input-number-group .input-number-adults, 
  .input-number-group .input-number-children, 
  .input-number-group .input-number-infants {
    width: 80px;
    padding: 0 12px;
    /*vertical-align: top;*/
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
  }
  
  .input-number-group .input-number-adults,
  .input-number-group .input-number-children,
  .input-number-group .input-number-infants,
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    border: 1px solid #cacaca;
    height: 40px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 0;
  }
  
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    display: inline-block;
    width: 40px;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
  }
  
  .input-number-group .input-number-decrement {
    margin-right: 0.3rem;
  }
  
  .input-number-group .input-number-increment {
    margin-left: 0.3rem;
  }