nav
    ul 
        block links
        li
            a.active(href="/home") Home
        li
            .logo(style="margin-top: 10px;text-align:center;")
                h4(style="color: white;") &nbsp;&nbsp;&nbsp; B Airways

