extends layout

block content
    .login-panel(style="float:none; padding-left:200px")
        h3 Add an passenger category
        br
        form(method="post" action="/admin/addPassengerCategory")
            table 
                tr
                    td Category
                    td 
                        input(type="text" name="category_name")
                tr 
                    td Number of reservations required
                    td 
                        input(type="text" name="No_of_reservations")
                tr 
                    td Discount
                    td 
                        input(type="text" name="discount")
                tr 
                    td
                    td
                        input(type="submit" value="Add")
        
    .dashboard(style = "margin-top: 15px;")
        .user
            +function(categories)

mixin function(categories)
    if categories != null
            table( class = "table")
                thead 
                    tr
                        th category
                        th No of reservations required	
                        th discount (in %)
                        th actions
                tbody
                    each category in categories
                        tr
                            td= category.category_name
                            td= category.No_of_reservations
                            td= category.discount 
                            td
                                a(href="/admin/editPassengerCategory/#{category.category_id}" style = "margin-right:10px;" rel="noopener" class="btn btn-sm btn-success") Edit
                               
      
    else 
        p  No Passenger Category found


