extends layout

block content
  script(type='text/javascript', src='/javascripts/location.js')
  script(type='text/javascript', src='/javascripts/guest_input.js')
  script(type='text/javascript', src='/javascripts/date.js')

  .login-panel
    h3 Member Login
    +functione(msg2)
    br
    include includes/login-form
  .registerguest
    ul(style = "padding-left:30px;")
      li
        a(href="/registerRedirect") Register as a Member
      li
        a(href="guest/loginGuest") Login as a Guest
  .registerguest(style="margin-top:5px;")
    p search for your destination and book the flights
  .login-panel(style="float:none; padding-bottom:20px; margin:15px 0px;")
    .searchbar(style="padding:15px;")
      h4 Search Your Flight 
      hr
      include includes/searchbar
  
append links 
  li(style="float: right;")
      a(href="admin/login") Admin 

mixin functione(msg2)
    if(msg2)
        .error_2
            p #{msg2}