extends layout

block content
  script(type='text/javascript', src='/javascripts/location.js')
  .login-panel
    h3 Member Login
    +functione(msg2)
    br
    include includes/login-form
  .registerguest
    ul(style = "padding-left:30px;")
      li
        a(href="/registerRedirect") register as a member 
      li
        a(href="/loginGuest") login as a guest
  .registerguest(style="margin-top:5px;")
    p search for your destination and book the flights
  .login-panel(style="float:none; padding-bottom:20px; margin:20px 20px;")
    .searchbar(style="padding-left:70px;")
      h4 Search your flight 
      br
      include includes/searchbar
  
append links 
  li(style="float: right;")
      a(href="admin/login") Admin 

mixin functione(msg2)
    if(msg2)
        .error_2
            p #{msg2}