<html>
    <head></head>

    <body>
        <div class="row">
            
            <div class="col-lg-4">
                <form action="/searchNew" method="post">
                    
                    <div class="form-group">
                        <label>search</label>
                        <input type="text" class="form-control" name="search">
                    </div>

                    <button type="submit" class="btn btn-success btn-lg">search</button>
            </form>
            </div>
        </div>
    </body>
    </html>